body {
  color: #222;
  margin: 0;
}

a {
  text-decoration: none;
  color: #222;
}

/* Grid practice */
.parent1 {
  border: 5px solid #000;
  display: grid;
  grid-template-columns: repeat(5, auto);
}

.parent1 div {
  background-color: yellowgreen;
  border: 1px solid white;
  text-align: center;
  font-size: 20px;
  color: #fff;
  padding: 15px;
}

.parent1 div:nth-child(6) {
  grid-column: 1 / span 5;
}

.parent2 {
  border: 5px solid #000;
  background-color: skyblue;
  display: grid;
  grid-template-columns: 1fr minmax(400px, auto) 1fr;
}
.parent2 div {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.parent3 {
  border: 5px solid #000;
  background-color: skyblue;
  display: grid;
  grid-template-columns: min-content 1fr min-content 1fr;
}

.parent3 div {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;  
}

@media (max-width: 768px) {
  .parent3 {
    grid-template-columns: min-content 1fr;
  }
}

.parent4 {
  border: 5px solid #000;
  background-color: skyblue;
  display: grid;
  /* grid-template-columns: repeat(4, minmax(200px, 1fr)); */
  grid-template-columns: repeat(4, minmax(min-content, 500px));
}
.parent4 div {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;  
}

.parent5 {
  border: 5px solid #000;
  background-color: skyblue;
  width: 800px;
  display: grid;
  /* grid-template-columns: repeat(3, 1fr); */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}
.parent5 div {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;  
}